.headerContainer {
  display: flex;
  padding-left: 8.6rem;
  padding-top: 1.875rem;
  padding-bottom: 11.875rem;
  height: 46.875rem;
}

.headerContainer img {
  box-shadow: 0 4px 4px 0 #00000040;
}

@media (max-width: 57em)  {
  .headerContainer {
    padding-left: 5rem;
  }
}

@media (max-width: 50em)  {
  .headerContainer {
    padding-left: 2rem;
  }
}
