.headerContainer {
  display: flex;
}

.headerSymbolIcon {
  position: absolute;
  box-shadow: unset!important;
  z-index: 5;
  margin-left: 8.6rem;
  margin-top: 1.9rem;
}

.headerContainer img {
  box-shadow: 0 4px 4px 0 #00000040;
}

@media (max-width: 55em) {
  .headerSymbolIcon {
    margin-left: 1.5rem;
  }
}
