.headerContent {
  position: relative;
  max-width: 27.375rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 27.375rem;
  align-content: center;
}

.container {
  color: #0B3B3C;
  max-width: 29.25rem;
}

.headerSymbolIcon {
  box-shadow: unset!important;
  z-index: 5;
  margin-bottom: 7.438rem;
}

.headerTitle {
  font-size: 5.62rem;
  font-weight: 400;
  line-height: 5.62rem;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 1.25rem;
  white-space: pre-wrap;
}

.headerDescription {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875;
  text-align: left;
  white-space: pre-line;
  margin-bottom: 2.25rem;
}

.takeTheQuizButton {
  background: #7E0707;
  color: white;
  height: 2.8rem;
  padding: 0.9rem 1.87rem;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 50em) {
  .headerTitle {
    font-size: 5rem;
    line-height: 5rem;
  }

  .headerDescription {
    width: 21.87rem;
    font-size: 1rem;
  }
}

@media (max-width: 37.5em) {
  .headerDescription {
    width: 13.75rem;
  }

  .headerTitle {
    font-size: 3.5em;
    line-height: 3.5rem;
  }
}
