@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'TT Norms Pro', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #eee7ea;
}
