/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');*/
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', serif;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #eee7ea;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}
