.footerContainer {
  background-color: #E8EFE9;
  display: flex;
  flex-direction: column;
  padding-left: 8.5rem;
  padding-right: 8.62rem;
  padding-top: 4.56rem;
}

.footerContent {
  display: flex;
  flex-direction: row;
}

.footerNavContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 4.5rem;
  gap: 6.25rem;
  margin-left: 1.25rem;
}

.footerNavLinks {
  display: flex;
  flex-direction: column;
}

.footerNavLinks ul {
  padding: 0;
}

.footerNavLinks li {
  display: list-item;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-align: left;
  color: #0B3B3C;
  text-transform: capitalize;
  margin-bottom: 0.625rem;
}
.footerTitle {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.938rem;
  letter-spacing: 0.15em;
  text-align: left;
  color: #0B3B3C;
  text-transform: uppercase;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 0.625rem;
}

.footerCopyrightContainer {
  border-top: 1px solid #BDCDC5;
  width: 100%;
  text-align: center;
  padding-top: 1.56rem;
  padding-bottom: 1.56rem;
}

.footerCopyrightText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #6D8A83;
}

/*
 screen max width 1024px
 */
@media (max-width: 65em) {
  .footerContainer {
    padding-left: 6rem;
  }
}

/*
 screen max width 880px
 */
@media (max-width: 55em) {
  .footerContainer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .footerContent {
    flex-direction: column;
  }

  .footerNavContainer {
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }

  .footerCopyrightContainer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .symbol {
    margin-bottom: 1.25rem;
  }
}